.banner {
  background-color: var(--navy);
  padding-top: 1rem;
  padding-bottom: 15rem;
}

.banner_left {
  padding-top: 3rem;
  margin-left: 1rem;
}

.banner_left > div {
  margin-top: 2rem;
}
.banner_left p {
  font-size: 20px;
  color: var(--violet);
}

.banner_left h1 {
  font-size: 60px;
}
.banner_button {
  font-size: 20px !important;
  background-color: var(--violet) !important;
  color: white !important;
}

.banner_paragraph {
  font-size: 24px !important;
}
